h1 {
    color: red;
}

h2 {
    color: purple;
}

body {
    background-color: teal;
    color: white;
}

img {
    width: 50%;
}


/* <absolute-size> values */

li {
    font-size: xx-large;
    color: red
}